.form {
  background-color: #2a2a2a;
  border: 1px solid #444;
  padding: 20px;
  border-radius: 8px;
  margin-right: 20px;
  min-width: 300px;
  width: 20%;
}

.form h2 {
  text-align: center;
  color: #ffffff;
}

.form__row {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form__row label {
  display: block;
  color: #e0e0e0;
  padding-left: 10px;
}

input {
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 4px;

}

input[type='color'] {
  height: 50px;
}

input:focus {
  border-color: #888;
  outline: none;
}

.form__row--picker {
  display: flex;
  align-items: center;
  gap: 10px;
}
